@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Inconsolata:wght@200..900&family=Maven+Pro:wght@400..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11; 
}

body{
    background-color: var(--gray-500);
}

#page1{
    background-image: url("/images/Background_Intro.png");
    background-size: 100%;        /* cobre toda a área */
    background-repeat: no-repeat;  /* evita repetição */
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#avatar{
    height: 112px;
    width: 112px;
    margin-bottom: 56px;

}

#page1{
    display: grid;
    justify-items: center;
    padding: 120px;

}

#hello{
    font-family: 'Incosolata', monospace;
    font-size: 20px;
    line-height: 120%;
    font-weight: lighter;
    color: var(--gray-200);    
    text-align: center;

}

#mim{
    font-family: "Maven Pro", serif;
    font-size: 14px;
    line-height: 140%;
    color: var(--gray-300);
    font-weight: regular;
    /*margin-bottom: 80px;*/
}

#title, #hello, #mim{
    width: 680px;
}

#title{
    font-family: 'Asap';
    font-size: 56px;
    line-height: 120%;
    font-weight: bold;
    color: var(--gray-100);
    margin-bottom: 20px;
}

.ferramentas{
    margin-top: 80px;
    font-size: 16px;
    font-family: 'Maven Pro';
    line-height: 140%;
    color: var(--gray-200);
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    height: 40px;
    
}

.ferramentas img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 16px;

}

.ferramentas span{
    text-align: center;
    width: 105px;

}

#text{
    display: flex;
    align-items: center;
    background-color: var(--gray-400);
    border-radius: 20px;
        gap: 8px;
}

#caret{
    width: 32px;
    height: 32px;
    margin-top: 94px;
    cursor: pointer;
}

#pag2{
    margin-top: 72px;
}

#Trabalho{
    color: var(--red);
    font-family: "Inconsolata";
    text-align: center;
    font-size: 20px;
}

#title2{
    color: var(--gray-100);
    font-family: "Maven Pro", serif;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-left: 330px;
    margin-bottom: 56px;
}

#grid-col{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
}

.grid{
    background-color: var(--gray-400);
    width: 330px;
    height: 280px;
      border-radius: 10px ;
}

.grid img{
    border-radius: 8px;
    width: 306px;
    height: 156px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}

.grid h2{
    font-size: 14px;
    line-height: 140%;
    font-family: "Maven Pro";
    color: var(--gray-100);
    margin-top: 12px;
    margin-left: 12px;

}

.grid p{
    margin-top: 8px;
        margin-left: 12px;
        color: var(--gray-200);
            font-family: "Maven Pro";


}

#pag3{
    margin-top: 232px;
    
}
#services{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 239px;
    margin-right: 239px;
    margin-bottom: 248px;
}
#services #block{
    height: 155px;
    width: 280px;
    border: 1px solid var(--gray-200);
    border-radius: 10px;
}

#services img{
    height: 48px;
    width: 48px;
    margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 20px;

}
#services h2{
        font-size: 14px;
    line-height: 140%;
    font-family: "Maven Pro";
    color: var(--gray-100);
        margin-left: 20px;

}
#services p{
    margin-bottom: 14px;
        margin-top: 8px;
        margin-left: 20px;
        color: var(--gray-200);
        font-family: "Maven Pro";

}

#contato{
        color: var(--purple);
    font-family: "Inconsolata";
    text-align: center;
    font-size: 20px;
}

#title3{
    color: var(--gray-100);
    font-family: "Maven Pro", serif;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
}

#pag4{
    background-image: url(/images/Background_Contacts.png);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

#pag4 p{
    text-align: center;
    color: var(--gray-200);
    font-family: "Maven Pro";
    margin-bottom: 48px;
}

#flex img{
    width: 28px;
    height: 28px;
    margin: 20px auto 20px 20px;
}

#flex{
    display: grid;
    gap: 16px;
    justify-content: center;
}

#ultimo{
    margin-bottom: 200px;
}

.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--gray-400);
    width: 400px;
    height: 68px;
    border-radius: 7px;
}

.flex-box span{
    width: 300px;
    height: 20px;
    line-height: 20px;
    margin-left: 20px;
    font-size: 16px;
    color: var(--gray-200);
    font-family: "Maven Pro";
}

#arrow{
    width: 20px;
    height: 20px;
    margin-left: 360px; 
    margin-top: -20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}